<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">

            <h1> 1001663569 Ramamoorthy, Revathy <h1>
            <br>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <br>
            <h1>Q7</h1>
            <h4>
            </h4> <br>
            <form action="/display" method="post">
                <label>Magnitude</label><br>
                <label> From:</label> <input type="number" name="m1" step="any"> <br>
                <label> To:</label> <input type="number" name="m2" step="any"> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <h1>Q8</h1>
            <br>
            <form action="/randomdepthloop" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Magnitude Range </label> <br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h1> Q9 <h1>
               <h4> Restrict </h4> <br>
            <form action="/restquery" method="post">
                <label>Magnitude</label><br>
                <label> From:</label> <input type="number" name="m1" step="any"> <br>
                <label> To:</label> <input type="number" name="m2" step="any"> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br>
             <p>***********************************************************************************************************************************************************************</p>
            <h1>Q10</h1>
            <br>
            <form action="/randomdepthloopcache" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Magnitude Range </label> <br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h1>Q11</h1>
            <form action="/listofqueries" method="post">
                <label> Latitude:</label> <input type="number" name="lat" step="any"> <br>
                <label> Longitude:</label> <input type="number" name="long" step="any"> <br>
                <label> Magnitude range </label> <br>
                <label> From:</label> <input type="number" name="magrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="magrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <p>***********************************************************************************************************************************************************************</p>
           
            


           <!--  <br>
            <h4>
                show
            </h4> <br>
            <form action="/listofqueries" method="post">
                <label> Magnitude </label> <br>
                <label> From:</label> <input type="number" name="magrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="magrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br> -->
            <p>***********************************************************************************************************************************************************************</p>
            <br>

            <h4>
                No caching - "SELECT latitude FROM earthq where locationsrc='ak'"
            </h4> <br>
            <form action="/queries" method="post">
                <label> Number of times:</label> <input type="number" name="num"> <br>
                <!-- <label> Magnitude:</label> <input type="number" name="mag" step="any"> <br> <br>

                <label> NET:</label> <input type="text" name="net" > <br> <br> -->
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                Caching - Earthquakes where Magnitude is
            </h4> <br>
            <form action="/restricted" method="post">
                <label> Number of times:</label> <input type="number" name="num"> <br>
                <!-- <label> Magnitude:</label> <input type="number" name="mag" step="any"> <br> <br>
                <label> NET:</label> <input type="text" name="net" > <br> <br> -->
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                Number of queries
            </h4> <br>
            <form action="/noqueries" method="post">
                <label> Number of times:</label> <input type="number" name="times"> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                Restrict
            </h4> <br>
            <form action="/restrictquery" method="post">
                <label> Number of times:</label> <input type="number" name="times"> <br>
                <label>Magnitude</label><br>
                <label> From:</label> <input type="number" name="m1" step="any"> <br>
                <label> To:</label> <input type="number" name="m2" step="any"> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                Restrict2
            <!-- </h4> <br>
            <form action="/restquery" method="post">
                <label> Number of times:</label> <input type="number" name="times"> <br>
                <label>Magnitude</label><br>
                <label> From:</label> <input type="number" name="mg1" step="any"> <br>
                <label> To:</label> <input type="number" name="mg2" step="any"> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form> -->

            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <!-- Q5 -->
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4> Depth error range and Longitude</h4>
            <form action="/qdisplay" method="post">
                <label>Depth Error</label><br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br>
                <label> Longitude:</label> <input type="number" name="longitude" step="any"> <br><br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <br>
            <!-- Q6 -->
            <p>***********************************************************************************************************************************************************************</p>\
            jj
            <br> Depth error range and Longitude</h4>
            <form action="/depthErrorRandom" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Depth Error </label> <br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <!-- Q7 -->
             <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4> In memory cache or None</h4>
            <form action="/inmemorycacheornone" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Depth Error </label> <br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            <!-- Q8 -->
             <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4> Q8 & 10 </h4>
            <h4> In memory cache and DB</h4>
            <form action="/inmemcachedb" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Magnitude Range </label> <br>
                <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
                <label> To:</label> <input type="number" name="depthrange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

             <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4> Time Range</h4>
            <form action="/timerange" method="post">
                <label> Number of times:</label> <input type="number" name="num" step="any"> <br>
                <label> Time range </label> <br>
                <label> From:</label> <input type="text" name="timerange1" step="any"> <br>
                <label> To:</label> <input type="text" name="timerange2" step="any"> <br> <br>
                <input type="submit" value="Search" class="btn btn-primary">
            </form>

            



            <br>
        </div>
    </body>
</html>