<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Restrict Queries</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001663569 Ramamoorthy, Revathy <h1>

        {#{% if table is not None %}#}
          <table>
            <thead>
              <th> Id </th>
                  <th> Time </th>
                  <th> Latitude </th>
                  <th> Longitude </th>
                  
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>
                  

            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}

      <br>
        <p>No. of times = {{ times }}</p>
        <p>Total Time: {{ totaltime }}</p>
        <p>Average Time: {{ avgtime }}</p>
        <p>Total time2: {{ elapsed_time }}</p>
        <p>Average time2: {{ avg_time }}</p>

      <br>
      <br>


    </div>

  </body>
</html>
