{% extends "base.html" %}

{% block app_content %}
{{ wtf.quick_form(form) }}
<br><br>
{% if rows %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{ rows|safe }});

        var options = {
          title: 'Population of each State in our data',
          pieSliceText: 'none',
          legend: 'labeled',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

      }
    </script>
    <div id="piechart" style="width: 1300px; height: 800px;"></div>
 {% endif %}
{% endblock %}