<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Random</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001663569 Ramamoorthy, Revathy <h1>
      <br>



 <!--      {#{% if table is not None %}#} -->
            <p>Iteration Number: {{times}}</p>
            <p>Random values set1: {{rand1}}</p>
            <p>Random values set2: {{rand2}}</p>
            <p>Time taken: {{timediff}}</p>
            <p>Number of tuples: {{rowcount}}</p>

            <!-- {#{% if times, rand1, rand2, timediff, rowcount is not None %}#}
          <table>
            <thead>
                <tbody>
              {% for value in times, rand1, rand2, timediff, rowcount %}
            <tr>
                
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>   
                  <td> {{ value[4] }} </td>          
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#} -->
          <!-- <table>
            <thead>
                   <th> Latitude </th>
                  <th> Longitude </th>
                  <th> Time </th>
                  <th> Depth Error </th>
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>



            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}


        </center> -->

      <br>
      <br>


    </div>

  </body>
</html>
