<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Restrict Queries</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001663569 Ramamoorthy, Revathy <h1>

      <br>
        <p>No. of times = {{ times }}</p>
        <p>No. of tuples = {{num}} </p> 
        <p>Cache Total Time: {{ totaltime }}</p>
        <p>Cache Average Time: {{ avgtime }}</p>
        <p>DB Total time2: {{ elapsed_time }}</p>
        <p>DB Average time2: {{ avg_time }}</p>

      <br>
      <br>


    </div>

  </body>
</html>
